.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 65px;
  z-index: 100;
}

.logo {
  height: 41.3333333333px;
  position: relative;
  width: 100px;
}

.header ul {
  display: flex;
}

.header ul li {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 30px;
}

.header ul li:hover {
  color: var(--logo);
}

.icon {
  cursor: pointer;
  display: none;
  font-size: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .icon {
    display: inline;
  }
  .header ul {
    display: none;
  }
  #dropdownShown {
    background-color: var(--white);
    border-top: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: block;
    position: absolute;
    right: 10px;
    top: 51px;
  }
  #dropdownShown li {
    margin-right: 0px;
    padding: 10px 20px;
    text-align: center;
  }
  #dropdownHidden {
    max-height: 0;
  }
}
