.header {
  display: flex;
  padding: 15px 35px;
}

.header ul {
  display: flex;
}

.header ul li {
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 40px;
}

.icon {
  cursor: pointer;
  display: none;
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .icon {
    display: inline;
  }
  .header ul {
    display: none;
  }
  #dropdownShown {
    background-color: var(--white);
    display: block;
    position: absolute;
  }
}
