.contactContainer {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  padding: 100px 30px;
  width: "100%";
}

.contactForm {
  width: 500px;
}
.contactForm form {
  border: 10px solid var(--grey);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 30px;
  width: 100%;
}
.contactFormRow {
  display: flex;
  justify-content: space-between;
}
.ContactFormInput {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.ContactFormInput p {
  color: var(--grey);
  margin-bottom: 20px;
}
.ContactFormInput input,
.ContactFormInput select {
  background-color: var(--white);
  border: none;
  height: 30px;
}
.ContactFormInput textarea {
  resize: none;
  height: 100px;
}
.ContactFormInput input:focus,
.ContactFormInput select:focus,
.ContactFormInput textarea:focus {
  outline: none;
}

.contactInfo {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.contactInfo h1 {
  color: var(--grey);
  font-size: 4rem;
  margin-bottom: 30px;
}

.contactDetails {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.contactDetails h3 {
  color: var(--logo);
  font-size: 2rem;
  margin-bottom: 15px;
}

.contactDetails p {
  color: var(--grey);
  margin-bottom: 8px;
}

@media only screen and (max-width: 900px) {
  .contactContainer {
    align-items: center;
    flex-direction: column-reverse;
  }

  .contactInfo {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    max-width: 500px;
    width: 90%;
  }

  .contactInfo h1 {
    font-size: 3rem;
    margin-bottom: 50px;
  }

  .contactDetails {
    align-items: flex-start;
    justify-content: center;
    margin-top: 19px;
  }

  .contactDetails h3 {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .contactForm {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

@media only screen and (max-width: 560px) {
  .contactInfo {
    flex-direction: column;
  }

  .contactInfo h1 {
    margin-bottom: 20px;
  }

  .contactDetails h3 {
    bottom: 55px;
  }

  .contactDetails p {
    font-size: 0.8rem;
  }

  .contactFormRow {
    flex-direction: column;
  }
}
