.admin ul {
  background-color: var(--background);
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.admin li {
  color: var(--white);
  cursor: pointer;
  margin-left: 20px;
  font-size: 20px;
  padding: 5px 0;
}

.adminSection {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form h2,
.list h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form input {
  margin-top: 10px;
}

.form textarea {
  height: 100px;
  margin-top: 10px;
  resize: none;
  width: 400px;
}

.formButtonContainer {
  display: flex;
  justify-content: space-between;
}

.formButton {
  align-items: center;
  background-color: var(--background);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 40px;
  width: 100px;
}

.formButton p {
  color: var(--white);
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 600px;
}

.listDivider {
  border: 1px solid var(--background);
  margin: 5px 0;
  width: 250px;
}

.listItem {
  cursor: pointer;
  margin-bottom: 20px;
  width: 200px;
}

.listItem h6 {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.listItemPic {
  height: 200px;
  position: relative;
  width: 200px;
}

/* login */

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.login label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login input {
  margin-top: 10px;
}

.error {
  background-color: #e81a1a;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  /* position: absolute; */
  top: 205px;
}

.error p {
  color: white;
  font-size: 0.6rem;
  text-align: center;
}
