.projectList {
  margin-top: 100px;
}

.projectIndexItem {
  cursor: pointer;
  width: 300px;
}

.projectIndexItemImage {
  height: 300px;
  position: relative;
  width: 300px;
  z-index: -100;
}

.projectIndexItemText {
  background-color: rgba(20, 154, 69, 0.8);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: scroll;
  padding: 20px;
  position: absolute;
  width: 300px;
  z-index: 100;
}

.projectIndexItemText div {
  margin-bottom: 20px;
}

.projectIndexItemText h6 {
  font-size: 1.2rem;
}

.projectIndexItemText p {
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-top: 5px;
}

/* Modal */

.modalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

.modalChild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalImage {
  max-width: 80vw;
  max-height: 80vh;
  height: 500px;
  width: 600px;
  position: relative;
}
