.aboutDetails {
  display: flex;
  justify-content: space-around;
  padding: 0px 10%;
  margin-bottom: 100px;
  position: "relative";
}

.aboutDetails div {
  max-width: 300px;
}
.aboutDetails h3 {
  color: var(--background);
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.aboutDetails p {
  color: var(--background);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.divider {
  /* height: 100%; */
  border: 1px solid var(--grey);
  position: relative;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 900px) {
  .aboutDetails {
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .aboutDetails div {
    margin-bottom: 100px;
    max-width: 80%;
  }

  .divider {
    display: none;
  }
}

.teamIndexContainer {
  display: flex;
  justify-content: center;
  padding: 0px 10%;
}

.teamIndex {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 80%;
}

.teamIndex h3 {
  color: var(--background);
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.teamIndexItem {
  display: flex;
  margin-bottom: 40px;
}

.teamIndexItemPic {
  height: 250px;
  position: relative;
  width: 250px;
}

.teamIndexItemText {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-left: 40px;
  overflow: scroll;
  width: 400px;
  flex-grow: 1;
}

.teamIndexItemText h2 {
  font-size: 30px;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.teamIndexItemText p {
  color: var(--background);
  font-size: 1rem;
  line-height: 1.7rem;
}

@media only screen and (max-width: 900px) {
  .teamIndex h3 {
    margin-bottom: 40px;
  }
  .teamIndexItem {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .teamIndexItemPic {
    height: 300px;
    margin-bottom: 20px;
    width: 300px;
  }

  .teamIndexItemText {
    margin-left: 0px;
    height: inherit;
    width: 300px;
  }

  .teamIndexItemText h2 {
    width: 300px;
  }

  .teamIndexItemText p {
    width: 300px;
  }
}
