.aboutDetails {
  display: flex;
  justify-content: space-around;
  padding: 0px 150px;
  margin-bottom: 100px;
}

.aboutDetails div {
  max-width: 300px;
}
.aboutDetails h3 {
  color: var(--background);
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.aboutDetails p {
  color: var(--background);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.divider {
  height: 320px;
  border: 1px solid var(--grey);
}
.teamIndexContainer {
  display: flex;
  justify-content: center;
}

.teamIndex {
  display: flex;
  flex-direction: column;
  padding: 0px 150px;
  margin-bottom: 100px;
}

.teamIndex h3 {
  color: var(--background);
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.teamIndexItem {
  display: flex;
  margin-bottom: 20px;
  width: 700px;
}

.teamIndexItemPic {
  height: 250px;
  position: relative;
  width: 250px;
}

.teamIndexItemText {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-left: 40px;
  /* overflow: scroll; */
  width: 400px;
}

.teamIndexItemText h2 {
  font-size: 30px;
  font-size: 1.9rem;
  margin-bottom: 20px;
}

.teamIndexItemText p {
  color: var(--background);
  font-size: 1rem;
  line-height: 1.7rem;
}
